@{
    ViewData["Title"] = "Printing on singlets, t-shirts and svitshots";
}

<div id="top" class="header">
    <div class="flexslider" >
        <ul class="slides">
            <li>
                <img src="~/images/slider/p1.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
            </li>
            <li>
                <img src="~/images/slider/p2.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                <img src="~/images/slider/p3.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
            </li>
            <li>
                <img src="~/images/slider/p4.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </li>
            <li>
                <img src="~/images/slider/p5.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
            </li>            
        </ul>
    </div>
</div>

<!-- Services -->
<div id="services" class="services ha-waypoint" data-animate-down="ha-header-small" data-animate-up="ha-header-large">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            Services<small> // One</small>
                        </h1>
                    </header>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">Section 1 services <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> </div>
    </div>
</div>
<!-- /Services -->
<!-- Portfolio -->
<div id="portfolio" class="portfolio" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            Our<small> // Portfolio</small>
                        </h1>
                    </header>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">Section2 portfolio</div>
    </div>
</div>
<!-- Portfolio -->
<!-- About -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            About Us<small> // One</small>
                        </h1>
                    </header>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">Section3 about</div>
    </div>
</div>
<!-- About -->
<!-- Projects-->
<div id="projects" class="projects">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            Awesome<small> // Projects</small>
                        </h1>
                    </header>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">Section4 projects</div>
    </div>
</div>
<!-- Projects-->
<!--Contact -->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            Contact <small> // Us</small>
                        </h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">Section5 Contact us</div>
    </div>
</div>
<!--Contact -->
